/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif !important;
    background-color: #b3c7d8 !important;
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* Main box */
.weather-dashboard {
    background-color: #bdccd4cc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    text-align: center;
    width: 300px;
    color: #2c3238;
}

.input-section {
    margin-bottom: 20px;
}

/* Bootstrap overrides */
.bg-image{
    background-image: url('/assets/images/backgrounds/50d.jpg');
    background-attachment: fixed;
}

.border-primary{

    border-radius: 60px;
}

.icon{
    height: 80px;
}

.icon-small{
    height: 55px
}

.icon-box{
    padding: 10px;
    margin: 10px;
    border-width: 50px !important;
    border-color: #ffffff !important;
    background-color: #82949e;
}

.icon-box-small{
    width: 80px;
    height: 80px;
}

.icon-box-big{
    width: 110px;
    height: 110px;
}

h1{
    color: #3666a5 !important;
}

/* Search bar */
input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #7ea9e2;
    color: white;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-result {
    margin-top: 20px;
}

.weather-result p {
    margin: 10px 0;
}